.contact-main-frame{
    width: 100%;
    background-color: #FFFFFF;
    height: 450px;
}

.inner-frame{
    width: 80%;
    margin: auto;
    justify-content: center;
}

.inner-frame-logo{
    width: 170px;
    justify-content: center;
    margin-left: 450px;
}

.inner-frame h1{
    width: 700px;
    height: 35px;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: #1F1F1F;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
    padding-bottom: 150px;
}

.socials-frame{
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
}

.social-circle{
    width: 60px;
    height: 60px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}

.social-circle img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.craft-message{
    width: 700px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    color: #1F1F1F;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
    padding-bottom: 150px;
    padding-top: 50px;
}
