.contact-main-frame{
    width: 100%;
    background-color: #1a1a1a;
}

.inner-frame{
    width: 80%;
    margin: auto;
    justify-content: center;
}

.inner-frame img{
    width: 150px;
    justify-content: center;
}

.inner-frame h1{
    width: 700px;
    height: 35px;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: #1F1F1F;
    letter-spacing: 0em;
    text-align: left;
}

.socials-frame{
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
}

.social-circle{
    width: 50px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
}