.project-main-frame{
    width: 100%;
    background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgb(237, 237, 237)),
            url('../../assets/svg/project-background.svg');
    margin: auto;
}

.project-texts{
    margin-left: 90px;
    height: 150px;
    margin-top: 40px;
}

.work-text{
    width: 650px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.55);
}

.project-work-text{
    width: 700px;
    height: 35px;
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    color: #1F1F1F;
    letter-spacing: 0em;
    text-align: left;
}

.project-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.cocoa-product, .skb-backend{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid #eae9e9;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.link-button{
    width: 20px;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-left: 190px;
    margin-top: 20px;
}

.cocoa-logo{
    width: 150px;
    height: 70px;
    margin-left: 125px;
    margin-top: 70px;
}

.skb-logo{
    width: 150px;
    height: 110px;
    margin-left: 125px;
    margin-top: 50px;
}

.cocoa-logo-text{
    width: 250px;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.55);
    margin-left: 75px;
    margin-top: 20px;
}

.skb-logo-text{
    width: 250px;
    height: 90px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.55);
    margin-left: 75px;
    margin-top: 0px;
}