.tech-main-frame{
    width: 100%;

}

.tech-main-frame hr{
    height: 5px;

}

.tech-text-box-frame{
    margin-left: 90px;
}

.tech-skill-frame{
    width: 87%;
    margin-left: 90px;
}

.Skills-text{
    width: 650px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.55);
}

.Technologies-text{
    width: 700px;
    height: 35px;
    font-size: 55px;
    font-weight: 900;
    line-height: 60px;
    color: #1F1F1F;
    letter-spacing: 0em;
    text-align: left;
}

.skill-frame{
    width: 150px;
    height: 200px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.55);
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.backend-skill-frame, .frontend-skill-frame{
    display: flex;
    justify-content: space-between;
}
