.tech-main-frame{
    width: 100%;
    background-image:
            linear-gradient(to bottom, rgba(246, 246, 246, 0.45), rgba(255, 255, 255, 0.42)),
            url('../../assets/jpg/skills-background.jpg');
    margin-bottom: 80px;
}

.tech-main-frame hr{
    height: 5px;

}

.tech-text-box-frame{
    margin-left: 90px;
}

.tech-skill-frame{
    width: 87%;
    margin-left: 90px;
}

.Skills-text{
    width: 650px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.55);
}

.Technologies-text{
    width: 700px;
    height: 35px;
    font-size: 55px;
    font-weight: 900;
    line-height: 60px;
    color: #1F1F1F;
    letter-spacing: 0em;
    text-align: left;
}

.skill-frame{
    width: 130px;
    height: 150px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.55);
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.backend-skill-frame, .frontend-skill-frame{
    display: flex;
    justify-content: space-between;
}

.skill-frame img{
    margin-top: 45px;
    margin-left: 25px;
    width: 75px;
}

@media screen and (max-width: 767px) {
    .tech-main-frame {
        width: 100%;
        background-image: none;
        margin-bottom: 40px;
        padding: 20px;
    }

    .tech-text-box-frame{
        margin-left: 0;
        width: 100%;
    }

    .tech-skill-frame {
        margin-left: 0;
        width: 94%;
    }

    .Skills-text {
        width: auto;
        max-width: 90%;
        margin-bottom: 20px;
        text-align: center;
    }

    .Technologies-text {
        width: auto;
        max-width: 90%;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .skill-frame {
        width: calc(50% - 10px); /* Adjust width for two frames in a row with spacing */
        height: auto;
        margin-top: 30px;
        margin-right: 10px; /* Add margin for spacing between frames */
    }

    .backend-skill-frame, .frontend-skill-frame {
        flex-direction: row; /* Set back to horizontal layout */
        justify-content: space-between; /* Add space between frames */
    }

    .skill-frame img {
        margin: 20px auto; /* Center image horizontally with spacing */
        width: 70%; /* Adjust image width for smaller screens */
    }
}

